@model List<Kapasitematik_TakimOmru_v3.Models.PieceModels>

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />

@{
    ViewBag.Title = "Takım Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@section Scripts{
    <style>
        .notfound {
            display: none;
        }

        .dataTables_length {
            float: left;
        }
    </style>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.myHub;
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessage = function () {
                PieceList()
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                console.log("connection started")
                //notifications.onconn();
                PieceList();
            }).fail(function (e) {
                alert(e);
            });
        });
        //$('#ilkk,#sonn').on('change', function () {

        //    $.ajax({
        //        url: "/Piece/PieceList/",
        //        data: {
        //            "basTarih": $('#ilkk').val(),
        //            "bitTarih": $('#sonn').val()
        //        },
        //        type: "GET",
        //        cache: false,
        //        success: function () {
        //            PieceList();
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    });

        //});
        $("#searchBtn").keyup(function () {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBtn");
            filter = input.value.toUpperCase();
            table = document.getElementById("search");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query

            $("#search tr:not('.no-records')").filter(function () {
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td)
                        txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
                var trSel = $("#search tr:not('.no-records'):visible");
                // Check for number of rows & append no records found row
                if (trSel.length == 0) {
                    $("#search").find('.no-records').show();
                }
                else {
                    $("#search").find('.no-records').hide();
                }
            });

        });
        function sortTable(n) {
            $(".rotate").toggleClass("flaticon2-arrow-down flaticon2-arrow-up");
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("search");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        var table;
        function PieceList() {
            table = $('#search').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                "searching": false,
                "lengthChange": false,
                "bInfo": false,
                "processing": true, // for show progress bar
                //"serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "responsive": true,
                "paging": true,
                "bDestroy": true,
                colReorder: {
                    realtime: true
                },
                "columnDefs": [{
                    "targets": '_all',
                    "createdCell": function (td, cellData, rowData, row, col) {
                        $(td).css('padding-left', '80px')
                        $("#search tr td:nth-child(1)").css('padding-left', '10px')
                    },
                }],
                "ajax": {
                    "url": "/Piece/PieceList",
                    "data": function (data) {
                        data.basTarih = $("#ilkk").val();
                        data.bitTarih = $("#sonn").val();
                    },
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "PieceName", "name": "PieceName", "autoWidth": true },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    { "data": "CreatedDate", "name": "CreatedDate", "autoWidth": true },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function () {
                            return null
                        }
                    },
                    {
                        "data": null,
                        "render": function (value) { return '<td style=" text-align:right; border-top-color:#ececec; width:70%;">' + '<a style="font-size:17px;" href="/Piece/ParcaEkle" class="la la-plus"></a>' + '<a style="font-size:17px; padding-left:10px;" href="/Piece/Edit/' + value.PieceId + '" class="la la-edit"></a>' + '<a style="font-size:17px; padding-left:10px;" href="/Piece/DeletePiece/' + value.PieceId + '" class="la la-trash"></a>' + '</td>' + '</tr>'; }
                    }
                ],
            });
            $("#ilkk").datepicker({
                "onSelect": function (date) {
                    minDateFilter = new Date(date).getTime();
                    table.draw();
                }
            }).keyup(function () {
                minDateFilter = new Date(this.value).getTime();
                table.draw();
            });
            $("#sonn").datepicker({
                "onSelect": function (date) {
                    maxDateFilter = new Date(date).getTime();
                    table.draw();
                }
            }).keyup(function () {
                maxDateFilter = new Date(this.value).getTime();
                table.draw();
            });

            $('#ilkk, #sonn').on('change', function () {
                if ($('#ilkk').val() != '' && $('#sonn').val() != '') {
                    $.fn.dataTable.ext.search.push(
                        function (settings, data, dataIndex) {
                            var from = $('#ilkk').val();
                            var to = $('#sonn').val();
                            var column = data[6];
                            if (from <= column && column <= to) {
                                return true;
                            }
                            return false;
                        }
                    );
                    table.ajax.reload();
                }
                else {
                    table.ajax.reload();
                }
            });
            minDateFilter = "";
            maxDateFilter = "";
            $.fn.dataTableExt.afnFiltering.push(
                function (oSettings, aData, iDataIndex) {
                    if (typeof aData._date == 'undefined') {
                        aData._date = new Date(aData[1]).getTime();
                    }
                    if (minDateFilter && !isNaN(minDateFilter)) {
                        if (aData._date < minDateFilter) {
                            return false;
                        }
                    }
                    if (maxDateFilter && !isNaN(maxDateFilter)) {
                        if (aData._date > maxDateFilter) {
                            return false;
                        }
                    }
                    return true;
                }
            );
        }
    </script>
}

<!--hamburger menü-->

<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="index.html">
            @*<img alt="Logo" style="width:50px; height:30px;" src="~/assets/media/logos/logo.PNG" />*@
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
    </div>
</div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <!-- begin:: Aside -->
        <!-- Uncomment this to display the close button of the panel
        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
        -->
        <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

            <!-- begin:: Aside -->
            <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                <div class="kt-aside__brand-logo">


                </div>
                <div class="kt-aside__brand-tools">
                    <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                                </g>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg>
                        </span>
                    </button>

                    <!--
                    <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
                    -->
                </div>
            </div>

            <!-- end:: Aside -->
            <!-- begin:: Aside Menu -->
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
                    <ul class="kt-menu__nav ">
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="@Url.Action("TakimOmru", "Home")" class="kt-menu__link ">
                                <span class="kt-menu__link-icon">

                                    <img src="~/Content/icon-reward.png" style="width:40px; height:40px;" />
                                </span><span class="kt-menu__link-text">Takım Ömrü</span>
                            </a>
                        </li>
                        <li class="kt-menu__section ">
                            <h4 class="kt-menu__section-text">Ayarlar</h4>
                            <i class="kt-menu__section-icon flaticon-more-v2"></i>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="" class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon">
                                    <img src="~/Content/icon-reward.png" style="width:40px; height:40px;" />
                                </span><span class="kt-menu__link-text">Takım</span>
                            </a>
                            <div class="kt-menu__submenu ">
                                <span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Indexx", "Piece")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Takım Ayarları</span></a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="" class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon">
                                    <img src="~/Content/icon-reward.png" style="width:40px; height:40px;" />
                                </span><span class="kt-menu__link-text">Parça</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="kt-menu__submenu ">
                                <span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "SubPieces")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Parça Ayarları</span></a></li>

                                </ul>
                            </div>
                            <div class="kt-menu__submenu ">
                                <span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="@Url.Action("Index", "Detail")" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Eklenen Parçalar</span></a></li>

                                </ul>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>

            <!-- end:: Aside Menu -->
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                <!-- begin:: Header Menu -->
                <!-- Uncomment this to display the close button of the panel
                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                -->
                <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                        <ul class="kt-menu__nav ">
                        </ul>
                    </div>
                </div>

                <!-- end:: Header Menu -->
                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar">





                    <!--begin: Quick panel toggler -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="right">
                        <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">
                            @*<span style="font-size:15px; margin-right:15px;" class="flaticon2-bell-alarm-symbol btn btn-icon btn-brand btn-sm kt-pulse">
                                    @foreach (var item in Model.notification)
                                    {
                                        <span class="badge">@Html.DisplayFor(modelItem => item.Count)</span>
                                    }
                                </span>*@
                        </span>
                    </div>

                    <!--end: Quick panel toggler -->
                    <!--begin: User Bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--user">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                            <div class="kt-header__topbar-user">
                                <span class="kt-header__topbar-welcome kt-hidden-mobile"></span>
                                <span class="kt-header__topbar-username kt-hidden-mobile">@ViewBag.Name</span>
                                <img class="kt-hidden" alt="Pic" src="assets/media/users/300_25.jpg" />

                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->

                            </div>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                            <!--begin: Head -->
                            <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-color:#1e1e2d">
                                <div class="kt-user-card__avatar">
                                    @*<img class="kt-hidden" alt="Pic" src="~/assets/media/users/300_25.jpg" />*@

                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success"><img src="~/Images/@ViewBag.Logo" /></span>
                                </div>
                                <div class="kt-user-card__name">
                                    @ViewBag.Name
                                </div>

                            </div>

                            <!--end: Head -->
                            <!--begin: Navigation -->
                            <div class="kt-notification">

                                <a href="@Url.Action("Profil", "Home")" class="kt-notification__item">
                                    <div class="kt-notification__item-icon">
                                        <i class="flaticon2-calendar-3 kt-font-success"></i>
                                    </div>
                                    <div class="kt-notification__item-details">
                                        <div class="kt-notification__item-title kt-font-bold">
                                            Hesabım
                                        </div>
                                    </div>
                                </a>
                                <div class="kt-notification__custom kt-space-between">
                                    <a href="@Url.Action("Login", "Login")" class="btn btn-label btn-label-brand btn-sm btn-bold">Çıkış Yap</a>

                                </div>
                            </div>

                            <!--end: Navigation -->
                        </div>
                    </div>
                    <!--end: User Bar -->
                </div>

                <!-- end:: Header Topbar -->
            </div>

            <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <img src="/Images/@ViewBag.Logo" style="width:35px; height:35px;" />
                                @*<i class="kt-font-brand flaticon2-line-chart"></i>*@
                            </span>
                            <h3 class="kt-portlet__head-title">
                                @ViewBag.Company Takım Listesi
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">


                        </div>
                    </div>




                </div>
                <div class="kt-portlet__body">
                    <!--begin: Search Form -->
                    <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="row align-items-center">
                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input type="text" class="form-control" placeholder="Arama..." id="searchBtn">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                            </span>

                                        </div>

                                    </div>
                                    <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-form__group kt-form__group--inline">
                                            <div class="kt-form__label">
                                                <label>Tarih:</label>
                                            </div>
                                            <div class="input-daterange input-group" id="kt_datepicker_5" data-date-format="dd.mm.yyyy">

                                                <input type="text" class="form-control datepickers" style="width:500px" id="ilkk" placeholder="gün/ay/yıl" name="start" />
                                                <span class="input-group-text">
                                                    <i class="la la-calendar"></i>
                                                </span>
                                                <input style="width:40px; margin-left:18px" type="text" id="sonn" class="form-control datepickers" placeholder="gün/ay/yıl" name="end" />
                                                <span class="input-group-text">
                                                    <i class="la la-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-form__group kt-form__group--inline">

                                        </div>
                                    </div>

                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-form__group kt-form__group--inline">

                                            <div class="kt-form__control">
                                                @*@Html.DropDownListFor(m => m.PieceId, (SelectList)ViewBag.Piece, "Lütfen Seçiniz", new { @class = "dropdown form-control", @id = "kt_form_status" })*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                            <div class="kt-portlet__body">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <table class="table" id="search" style=" border-radius:5px">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <span style="color:#5D78FF; padding-left:70px;" onclick="sortTable(0)">Takım Adı <i class="flaticon2-arrow-down rotate" style="font-size:0.6rem;"></i></span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span onclick="sortTable(1)" style="padding-left:70px;">Eklenme Tarihi <i class="flaticon2-arrow-down rotate" style="font-size:0.6rem;"></i></span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>



                                        <tbody id="messagesTable"></tbody>
                                        <tr class="no-records" style="display: none;">
                                            <td align="center" style="text-align:center">Kayıt bulunamadı.</td>
                                        </tr>
                                        @*<td style="text-align:right">
                                                <a style="font-size:15px;" href='@Url.Action("ParcaEkle","Piece",new { id=item.PieceId})' class='la la-plus'></a>
                                                @Html.ActionLink("Ekle", "Create", new { id = item.PieceId }) |
                                                <a style="padding-left:10px; font-size:15px;" href='@Url.Action("Edit","Piece",new { id=item.PieceId})' class='la la-edit'></a>
                                                @Html.ActionLink("Güncelle", "Edit", new { id = item.PieceId }) |

                                                <a style="padding-left:10px;font-size:15px;" href='@Url.Action("Delete","Piece",new { id=item.PieceId})' class='la la-trash'></a>

                                            </td>*@

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
